.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
}

.card {
  cursor: pointer;
  position: relative;
  width: 330px;
  height: 410px;
  border-radius: 1px;
  margin: 15px 10px;
  text-align: center;
  overflow: hidden;
  transition: .15s;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  background: rgb(255, 255, 255);
}

.card:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
}

a:hover>.card-message {
  pointer-events: all;
  opacity: 1;
}

a:hover .fa-arrow-right {
  padding-left: 10px;
}

.card-img {
  height: calc(100% - 55px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.card-container {
  position: absolute;
  right: 5px;
  bottom: 60px;
}

.card-price {
  font-size: 18px;
  padding: 5px 7px;
  border-radius: 1px;
  color: white;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.3);
  background: rgb(35, 170, 42);
}

.discountPrice {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
  border-radius: 2px;
  background: rgb(22, 93, 26);
}

.oldPrice {
  text-decoration: line-through;
  text-decoration-color: red;
  font-size: 12px;
  text-align: right;
}

.newPrice {
  font-size: 17px;
}

.discountContent {
  display: inline-block;
  vertical-align: middle;
}

.card-name {
  position: absolute;
  font-size: 19px;
  height: 55px;
  line-height: 55px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  color: black;
}

.card-message {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 55px;
  opacity: 0;
  transition: 0.27s;
  color: white;
  background: rgb(255, 255, 255);
}

.card-message-info {
  font-size: 30px;
  margin: auto;
  font-weight: bold;
  color: black;
}

.fa-arrow-right {
  padding-left: 0px;
  margin-left: 5px;
  transition: 0.35s;
}

.card:hover>.toWishList {
  display: block;
}

.toWishList {
  display: none;
  position: absolute;
  left: 5px;
  bottom: 60px;
  height: 35px;
  line-height: 35px;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 17px;
  background: rgb(0, 153, 255);
}

.toWishList:hover {
  background: rgb(11, 118, 189);
}

.toWishList.active {
  background: rgb(204, 23, 23);
}

/* NOT FOUND MESSAGE */

#notFoundWrapper {
  text-align: center;
  max-width: 500px;
  white-space: normal;
  overflow: hidden;
}

#textNF {
  color: red
}