.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
}

.card {
  cursor: pointer;
  position: relative;
  width: 330px;
  height: 410px;
  border-radius: 1px;
  margin: 15px 10px;
  text-align: center;
  overflow: hidden;
  transition: .15s;
  box-shadow: 0 2px 7px 0 rgb(0 0 0 / 15%);
  background: rgb(255, 255, 255);
}

.card:hover {
  box-shadow: 0 1px 7px rgba(0, 0, 0, .4);
}

a:hover>.card-message {
  pointer-events: all;
  opacity: 1;
}

a:hover .fa-arrow-right {
  padding-left: 10px;
}

.card-img {
  height: calc(100% - 92px);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.card-container {
  position: relative;
  height: 80px;
  bottom: -6px;
}

.card-name-cart {
  overflow: hidden;
  font-size: 18px;
}

.card-name, .card-cart-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.card-name {
  position: relative;
  width: calc(100% - 150px);
  left: 5px;
  height: 41px;
  line-height: 41px;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
  font-weight: 600;
  color: black;
}

.card-cart-wrapper {
  width: 141px;
  text-align: right;
}

.card-cart {
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 17px;
  padding: 8px 15px;
  background: rgb(0, 153, 255);
}

.card-cart:hover {
  background: rgb(11, 118, 189);
}

/* PRICE /////////////////////////////////////////////*/

.card-price {
  z-index: 99999;
  padding: 3px 9px;
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  color: rgb(58, 58, 58);
}

.card-price.is-product {
  font-size: 21px;
}

.card-price-normal {
  color: rgb(58, 58, 58);
}

.card-price-old, .card-price-discount {
  display: inline-block;
  margin: 0 11px 0 0;
}

.card-price-old {
  color: rgb(161, 161, 161);
  text-decoration: line-through;
}

.card-discount-test {
  float: left;
}

.card-price-discount {
  color: rgb(58, 58, 58);
}

.card-discount-percent {
  position: relative;
  float: right;
  color: white;
  border-radius: 5px;
  padding: 0 8px;
  background: rgb(236, 40, 40);
}

.card-slider::before {
  content: "SAVE ";
}

/* MESSAGE ON CARD HOVER /////////////////////////////////////////////*/

.card-message {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 86px;
  opacity: 0;
  transition: 0.27s;
  color: white;
  background: rgb(255, 255, 255);
}

.card-message-info {
  font-size: 30px;
  margin: auto;
  font-weight: bold;
  color: black;
}

.fa-arrow-right {
  padding-left: 0px;
  margin-left: 5px;
  transition: 0.35s;
}

/* NOT FOUND MESSAGE /////////////////////////////////////////////*/

#not-found-wrapper {
  text-align: center;
  max-width: 500px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}

#not-found-text {
  color: rgb(243, 32, 32)
}