#footer-wrapper {
  position: relative;
  width: 100%;
  margin-top: 110px;
  height: 200px;
}

footer {
  position: relative;
  text-align: center;
  height: 100%;
  border-top: 1px solid rgba(146, 146, 146, 0.15);
  background: var(--footer-bg);
}

#footer-update-text {
  position: relative;
  font-weight: bold;
  color: var(--footer-text);
  height: 90px;
  line-height: 90px;
}

#footer-link {
  position: relative;
  padding: 10px;
  margin: 15px;
  transition: 0.1s;
  font-weight: 100;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  letter-spacing: 3px;
  font-size: 23px;
  transform: rotate(45deg);
}

#footer-link:hover {
  color: var(--footer-bg);
  background: var(--color-text);
}

.fa-github {
  position: relative;
  top: 4px;
  left: 1px;
  padding: 0;
  font-size: 35px;
}