.info-card-wrapper {
    position: relative;
    top: 100px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 200px;
}

.info-card {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
    overflow: hidden;
}

.info-card-left, .info-card-right {
    display: inline-block;
}

.info-card-left {
    position: relative;
    width: calc(65% - 45px);
    height: 500px;
    margin-right: 45px;
    overflow: hidden;
}

.info-card-image {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgb(202, 202, 202);
    border-radius: 5px;
}

.info-card-right {
    width: 35%;
    vertical-align: top;
}

.info-card-title {
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 30px;
    border-bottom: 1px solid rgba(131, 130, 130, 0.15);
}

.info-card-container {
    height: 50px;
    line-height: 50px;
    font-size: 19px;
}

.info-card-pay {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 23px;
    text-align: center;
    color: white;
    border-radius: 5px;
    background: rgb(52, 123, 245);
}

.info-card-pay:hover {
    background: rgb(47, 103, 200);
}

@media screen and (max-width: 850px) {
    .info-card-left {
        width: 100%;
    }
    .info-card-right {
        width: 100%;
    }
}