body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  background: var(--BG);
}

/* Custom scrollbar*/

/* width */

::-webkit-scrollbar {
  width: 6px;
}

/* Track */

::-webkit-scrollbar-track {
  background: none;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: rgba(73, 73, 73, 0.5);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*////////////////////*/

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, button, li, ul, input {
  outline: none;
  border-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

li {
  display: inline;
}

summary {
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  outline: none;
}

:root {
  --BG: #ffffff;
  --max-width: 1500px;
  --color-text: black;
  --colorGray: gray;
  --footer-bg: rgb(251, 251, 251);
  --footer-text: rgb(61, 61, 61);
}

/* .fade-enter {
  opacity: 0;
  transform: scale(0.9);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
} */

/* TEst */

.home_title {
  margin-top: 80px;
  max-width: 1080px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.newCardsTest {
  max-width: 1130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

#btn_content {
  width: 100%;
  height: 70px;
  display: block;
  text-align: center;
}

#btn_content button {
  border: none;
  font-size: 18px;
  top: 30px;
  border-radius: 2px;
  padding: 7px 15px;
  transition: 0.15s;
  color: white;
  background: rgb(36, 173, 36);
}

#btn_content button:hover {
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.3);
  background: rgb(36, 173, 36);
}

.cards-preview, .cards-content {
  display: flex;
  flex-wrap: wrap;
}

.cards-preview {
  margin-top: 50px;
  font-size: 18px;
}

.cards-content {
  width: 100%;
}

.cards-preview summary {
  border-radius: 3px;
  background: rgb(226, 226, 226);
}

.cards-preview summary:hover {
  background: rgb(175, 175, 175);
}