.slider-content {
  margin: 50px auto 20px auto;
}

.slider-content, .slider, .slider-btn button, .fa-chevron-left, .fa-chevron-right, .slider-image, .newProject, .updateProject {
  position: relative;
}

.slider-content, .slider, .slider-btn, .slider-btn button, #silder-btn-left::after, #silder-btn-right::after, .fa-chevron-left, .fa-chevron-right, #slider-imageCont {
  transition: 0.3s;
}

.slider-content, #slider-imageCont {
  width: 100%;
}

.slider-btn, #silder-btn-left::after, #silder-btn-right::after, .projectCont {
  position: absolute;
}

.slider {
  max-width: 1110px;
  margin: 10px auto 0 auto;
  height: calc(100% - 20px);
}

.slider-btn {
  z-index: 9;
  top: 45%;
  transform: translateY(-49%);
  left: 18px;
  width: calc(100% - 36px);
}

.slider-btn button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: .7;
  background: rgba(0, 0, 0, 0.8);
}

.slider-btn button:hover {
  opacity: 1;
}

.fa-chevron-left, .fa-chevron-right {
  border-radius: 50%;
  font-size: 29px;
  color: white;
}

.fa-chevron-left {
  left: -1px;
}

.fa-chevron-right {
  right: -1px;
}

/* ANIM ICON ON HOVER */

.slider-btn button:hover>.fa-chevron-left {
  left: -5px;
}

.slider-btn button:hover>.fa-chevron-right {
  right: -5px;
}

#silder-btn-right {
  float: right;
}

#silder-btn-left::after, #silder-btn-right::after {
  top: -30px;
  max-width: 333px;
  height: auto;
  line-height: 19px;
  border: 1px solid var(--colorT);
  opacity: 0;
  white-space: nowrap;
  padding: 1px 5px;
  border-radius: 1px;
  color: var(--colorT);
  pointer-events: none;
  background: var(--BG);
}

#silder-btn-left:hover::after, #silder-btn-right:hover::after {
  opacity: 1;
  pointer-events: all;
}

#slider-title {
  margin: 10px;
  padding-bottom: 7px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
  color: var(--colorT);
  border-bottom: 1px solid rgba(194, 194, 194, 0.27);
}

#slider-imageCont {
  overflow: hidden;
  position: relative;
  top: 0;
  height: 630px;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  white-space: nowrap;
}

.slider-image {
  display: inline-block;
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 15px);
  overflow: hidden;
  right: 0%;
  transition: .5s;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1px;
  opacity: .1;
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
}

.slider-image.active{
  opacity: 1;
}

#progressWrapper {
  overflow: hidden;
  width: calc(100% - 10px);
  margin: -1px 5px;
}

.projectInfo {
  position: absolute;
  right: 0;
  bottom: 0;
}

.projectName {
  float: left;
  text-align: center;
  color: white;
  padding: 7px 12px;
  font-size: 19px;
  border-top-left-radius: 3px;
  background: rgba(5, 5, 5, 0.8);
}

.projectName i {
  display: block;
  margin-bottom: 3px;
}

/* DOTS */

#slider-dotsCont {
  text-align: center;
  padding: 10px 0;
}

.slider-dots {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50px;
  margin: 0 5px;
  border: 2px solid rgb(0, 140, 255);
}

.slider-dots::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: .3s;
  transform: translate(-50%, -50%) scale(0);
  background: rgb(0, 140, 255);
}

.slider-dots.active::after {
  content: "";
  transform: translate(-50%, -50%) scale(1);
}

/* MEDIA */

@media screen and (max-width: 1180px) {
  .slider-btn {
    left: 15px;
    width: calc(100% - 30px);
  }
  #slider-imageCont {
    height: 550px;
  }
}

@media screen and (max-width: 750px) {
  #slider-imageCont {
    height: 360px;
  }
}

@media screen and (max-width: 475px) {
  #slider-imageCont {
    height: 330px;
  }
}

@media screen and (max-width: 430px) {
  #slider-imageCont {
    height: 270px;
  }
}